<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650670268589-vvid1dv5j7cjfg0e4400ir58n6kctg8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650670268589-vvid1dv5j7cjfg0e4400ir58n6kctg8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDy0PCv6dDIRN1COUwgENjzROONqBvhB70</string>
	<key>GCM_SENDER_ID</key>
	<string>650670268589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicolasolazzo.swiftDoc</string>
	<key>PROJECT_ID</key>
	<string>swiftdoc-33d7a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftdoc-33d7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650670268589:ios:990092c3894c1a44</string>
	<key>DATABASE_URL</key>
	<string>https://swiftdoc-33d7a.firebaseio.com</string>
</dict>
</plist>